.jumbotron {
	background-image: url('../images/MBTDF.jpg');
	background-position: 5px 100px;
	font-weight:bold;
	text-align: center;

}

.container {
	background-color: transparent;
	overflow: none;
}

body {
	background-image: url('../images/MBTDF.jpg');
	background-position: 5px 100px;
}

.questions {
	background-color: #ccc;
	text-align: center;
}
